---
import Header from '../components/Header'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="h-screen">
		<main
		id="main-section"
		class=`
		bg-gray-500 w-full h-full rounded-md grid grid-cols-2 grid-row-2 p-4
		[&>section]:bg-gray-200 [&>section]:rounded-md `
		>
		<section class="mr-4 mb-4 ml-0 grid">
			<div class="bg-gray-500 w-1/2 p-2 h-max rounded-l-md rounded-tl-none justify-self-end">2d name</div>
		</section>
		<section class="row-span-2 grid">
			<div class="bg-gray-500 w-1/2 p-2 h-max rounded-l-md rounded-tl-none justify-self-end">3d name</div>
		</section>
		<section class="ml-0 mr-4 grid">
			<div class="bg-gray-500 w-1/2 p-2 h-max rounded-l-md rounded-tl-none justify-self-end">3d Image</div>
		</section>
	</main>
	<Header />
</body>
</html>

<script>
</script>
