---
import Images3D from '../components/Names3D'
import Names2D from '../components/Names2D'
import Names3D from '../components/Images3D'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="h-screen">
		<main
			id="main-section"
			class=`bg-gray-500 w-full h-full rounded-md grid grid-cols-2 grid-row-2 p-4
			[&>section]:bg-gray-200 [&>section]:rounded-md`
		>
			<!-- ! No Change The order of the components -->
			<Names2D />
			<Names3D />
			<Images3D />
		</main>
	</body>
</html>

<script></script>